@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: unset !important;background-color: #5469d4;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
