@page "/classifier"
@inject HttpClient Http

<div class="container">
    <h1>Classify a text</h1>

    <div>
        <label for="title">Title</label>
        <input id="title" type="text" placeholder="Title" @bind="classified.Title" class="input title" />
    </div>

    <div>
        <label for="subject">Subject</label>
        <input id="subject" type="text" placeholder="Subject" @bind="classified.Subject" class="input subject" />
    </div>

    <div>
        <label for="date">Date</label>
        <input id="date" type="text" placeholder="Date" @bind="classified.Date" class="input date" />
    </div>

    <textarea placeholder="Text" @bind="classified.Text" class="input text"></textarea>
    <button @onclick="Classify">Classify</button>
    <p style="display: @displayStyle">Classification @(this.classified.isClassifiedFake == true ? "fake" : "real")</p>
</div>


@code {
    public Classified classified { get; set; } = new Classified();
    public string displayStyle { get; set; } = "none";

    public async Task Classify()
    {
        var req = new Dictionary<string, dynamic>
        {
            { "title", classified.Title },
            { "text", classified.Text },
            { "subject", classified.Subject },
            { "date", classified.Date },
        };

        var res = await Http.PostAsJsonAsync("https://localhost:/api/classifications", req);
        this.classified.isClassifiedFake = (await res.Content.ReadFromJsonAsync<Classified>()).isClassifiedFake;
        displayStyle = "block";
    }

}
