label {
  display: block;
  font-weight: bold;
}

.title {
  min-height: 5ch;
  width: 50%;
  border-radius: 0 0 12px 12px!important;
}

.subject {
  min-height: 5ch;
  width: 50%;
  border-radius: 0 0 12px 12px!important;
}

.date {
  min-height: 5ch;
  width: 50%;
  border-radius: 0 0 12px 12px!important;
}

.text {
  min-height: 60ch;
  width: 100%;
  border-radius: 0 0 12px 12px!important;
}

textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 0 0 12px 12px!important;
}

textarea:focus {
  background-color: #ddd;
  outline: none;
}
