@page "/home"
@inject HttpClient Http


<img style="width:20%" src="css/img/pravdalogo.png" asp-append-version="true" alt="Image">
<h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Why should you care about whether or not your news is real or fake?</h4>
<ul class="">
    <li><strong>Fake news destroys your credibility.</strong>If your arguments are built on bad information, it will be much more difficult for people to believe you in the future.</li>
    <li><strong>Fake news can hurt you</strong>, and a lot of other people.  Purveyors of fake and misleading medical advice like Mercola.com and NaturalNews.com help perpetuate myths like HIV and AIDS aren't related, or that vaccines cause autism.</li>
    <li><strong>Real news can benefit you.</strong>If you want to buy stock in a company, you want to read accurate articles about that company so you can invest wisely.</li>
</ul>
<footer style="width:100%;" class="fixed-bottom">
    <section id="footer">
        <div class="container">
            <div style="justify-content:center;" class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5>Peltea Mihail Bogdan</h5>
                    <ul class="list-unstyled quick-links col-md-3">
                        <li><a href="https://github.com/BogdanMhi"><img src='https://raw.githubusercontent.com/hristodormihai/Obis/master/obis/images/github-black.svg?token=AOWTJP4F2YID3IBJOHGBMCS74DOOS' /></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5>Mihai Crisan</h5>
                    <ul class="list-unstyled quick-links col-md-3">
                        <li><a href="https://github.com/BogdanMhi"><img src='https://raw.githubusercontent.com/hristodormihai/Obis/master/obis/images/github-black.svg?token=AOWTJP4F2YID3IBJOHGBMCS74DOOS' /></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5>Ionut Gabriel Tcaciuc</h5>
                    <ul class="list-unstyled quick-links col-md-3">
                        <li><a href="https://github.com/BogdanMhi"><img src='https://raw.githubusercontent.com/hristodormihai/Obis/master/obis/images/github-black.svg?token=AOWTJP4F2YID3IBJOHGBMCS74DOOS' /></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5>Alexandru Marius Balan</h5>
                    <ul class="list-unstyled quick-links col-md-3">
                        <li><a href="https://github.com/BogdanMhi"><img src='https://raw.githubusercontent.com/hristodormihai/Obis/master/obis/images/github-black.svg?token=AOWTJP4F2YID3IBJOHGBMCS74DOOS' /></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <h5>Nassar A. Mahmoud</h5>
                    <ul class="list-unstyled quick-links col-md-3">
                        <li><a href="https://github.com/BogdanMhi"><img src='https://raw.githubusercontent.com/hristodormihai/Obis/master/obis/images/github-black.svg?token=AOWTJP4F2YID3IBJOHGBMCS74DOOS' /></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>Project developed for the 3rd year .Net Course at the Faculty of Computer science, UAIC Iasi.</p>
                    <p class="h6">© All right Reversed.<a class="text-green ml-2" href="" target="_blank">Pravda</a></p>
                </div>
            </div>
        </div>
    </section>
</footer>
@code {

}
