@page "/home"
@inject HttpClient Http

<h3>Top 10 news sarched.</h3>

@for (int i = 0; i < 9; i++)
{<div id="@i" class="card">
        <div class="container">
            <h4><b>Title</b></h4>
            <p>Context</p>
        </div>
    </div>}

@code {

}
