@page "/"
@inject HttpClient Http
<div style="border-radius: 0 0 12px 12px !important;border: 1px solid rgba(0, 0, 0, 0.125);border-radius: 0.25rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);padding: 1rem;">
    <h4 style="color:#5469d4;padding:2rem 2rem 0 2rem;font-size:1.8rem;font-weight:600;">
        Why should you care about whether
        or not your news is real or fake?
    </h4>
    <ul class="" style="color:#000000;font-size:1.5rem;padding:2rem;">
        <li style="padding-bottom:1rem;">
            <strong>Fake news destroys your credibility.</strong>If your arguments are built on bad information, it will
            be
            much more difficult for people to believe you in the future.
        </li>
        <li style="padding-bottom:1rem;">
            <strong>Fake news can hurt you</strong>, and a lot of other people. Purveyors of fake and misleading medical
            advice like Mercola.com and NaturalNews.com help perpetuate myths like HIV and AIDS aren't related, or that
            vaccines cause autism.
        </li>
        <li>
            <strong>Real news can benefit you.</strong>If you want to buy stock in a company, you want to read accurate
            articles about that company so you can invest wisely.
        </li>
    </ul>
</div>

<div class="card-container">
    <div class="api-cards">

        <NavLink class="nav-link" href="topnews">
            <span class="oi oi-fire" aria-hidden="true" style="transform: scale(2);"></span>

            <p></p>

            <p style="color: black;">The most often tested articles in the last 3 days.</p>


            <p>Top Pravda News</p>

        </NavLink>

    </div>

    <div class="api-cards">

        <NavLink class="nav-link" href="topgooglenews">
            <span class="oi oi-fire" aria-hidden="true" style="transform: scale(2);"></span>

            <p></p>

            <p style="color: black;">Some of the news that are now trending on Google.</p>

            <p>Top Google News</p>

        </NavLink>

    </div>

    <div class="api-cards">

        <NavLink class="nav-link" href="classifier">
            <span class="oi oi-calculator" aria-hidden="true" style="transform: scale(2);"></span>

            <p></p>

            <p style="color: black;">Try our classifier, to discern if an article is true or not.</p>

            <p>Classifier</p>

        </NavLink>

    </div>

    <div class="api-cards">

        <NavLink class="nav-link" href="donate">
            <span class="oi oi-dollar" aria-hidden="true" style="transform: scale(2);"></span>

            <p></p>

            <p style="color: black;">If you enjoy our services, consider giving us a tip!</p>

            <p>Donate</p>

        </NavLink>

    </div>

    <div class="api-cards">

        <NavLink class="nav-link" href="logoff">
            <span class="oi oi-person" aria-hidden="true" style="transform: scale(2);"></span>

            <p></p>

            <p style="color: black;">Log out of your account.</p>

            <p>Log Off</p>

        </NavLink>

    </div>
</div>
@* <footer style="width:100%;" class="fixed-bottom">
    <section id="footer">
    <div class="container">
    <div style="justify-content:center;" class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-2 col-md-2">
    <h5>Peltea Mihail Bogdan</h5>
    <ul class="list-unstyled quick-links col-md-3">
    <li><a href="https://github.com/BogdanMhi"><img src='/img/github-black.svg' /></a></li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
    <h5>Mihai Crisan</h5>
    <ul class="list-unstyled quick-links col-md-3">
    <li><a href="https://github.com/BogdanMhi"><img src='/img/github-black.svg' /></a></li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
    <h5>Ionut Gabriel Tcaciuc</h5>
    <ul class="list-unstyled quick-links col-md-3">
    <li><a href="https://github.com/BogdanMhi"><img src='/img/github-black.svg' /></a></li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
    <h5>Alexandru Marius Balan</h5>
    <ul class="list-unstyled quick-links col-md-3">
    <li><a href="https://github.com/BogdanMhi"><img src='/img/github-black.svg' /></a></li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2">
    <h5>Nassar A. Mahmoud</h5>
    <ul class="list-unstyled quick-links col-md-3">
    <li><a href="https://github.com/BogdanMhi"><img src='/img/github-black.svg' /></a></li>
    </ul>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
    <p>Project developed for the 3rd year .Net Course at the Faculty of Computer science, UAIC Iasi.</p>
    <p class="h6">© All right Reversed.<a class="text-green ml-2" href="" target="_blank">Pravda</a></p>
    </div>
    </div>
    </div>
    </section>
    </footer> *@

@code {

}
