@page "/register"
@inject HttpClient Http

<div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>

    <label for="first-name"><b>First Name</b></label>
    <input id="first-name" type="text" placeholder="First Name" @bind="user.FirstName" class="input firstname" />

    <label for="last-name"><b>Last Name</b></label>
    <input id="last-name" type="text" placeholder="Last Name" @bind="user.LastName" class="input lastname" />

    <label for="email"><b>Email</b></label>
    <input id="email" type="text" placeholder="Email" @bind="user.Email" class="input email" />

    <label for="password"><b>Password</b></label>
    <input id="password" type="password" placeholder="Password" @bind="user.Password" class="input password" />


    <div class="clearfix">
        <button @onclick="RegisterTask" type="submit" class="signupbtn">Register</button>
    </div>
    <p style="display: @displayStyle">User Created: @showOutput</p>
</div>


@code
{
    public class User
    {
        public User()
        {
        }

        public User(string firstname, string lastname, string email, string password)
        {
            this.FirstName = firstname;
            this.LastName = lastname;
            this.Email = email;
            this.Password = password;
        }

        public string FirstName { get; set; }

        public string LastName { get; set; }

        public string Email { get; set; }

        public string Password { get; set; }

        public bool isCreated { get; set; }

        public dynamic getResult { get; set; }

    }

    public User user { get; set; } = new User();
    public string showOutput { get; set; } = "none";
    public string displayStyle { get; set; } = "none";

    public async Task RegisterTask()
    {
        var req = new Dictionary<string, dynamic>
        {
            {"firstname", user.LastName},
            {"lastname", user.FirstName},
            {"email", user.Email},
            {"password", user.Password},
        };

        var res = await Http.PostAsJsonAsync("https://localhost:5001/api/users/register", req);
        showOutput = res.IsSuccessStatusCode.ToString();
        displayStyle = "block";
    }
}
